<h1>Connecting multiple sortable lists</h1>

<p class="lead">
  <strong>
    <a href="https://github.com/SortableJS/ngx-sortablejs/tree/master/src/app/examples/multiple-lists"
      target="_blank">The source code</a>
  </strong>
</p>

This shows how the <em>sortable</em> lists can be connected together. Pay attention to the <em>sortable</em> CSS class
(gives a <em>min-height</em>) that does not allow lists to become invisible when all items are gone

<h2 class="mt-4 mb-3">Transfer between lists</h2>

<p>
  These lists are connected together. You can drag / drop elements across the lists.
</p>

<div class="row">
  <div class="col-sm-3">
    <ul class="list-group sortable" [sortablejs]="normalList1" [sortablejsOptions]="normalOptions">
      <li class="list-group-item" *ngFor="let item of normalList1">Element {{ item }}</li>
    </ul>
  </div>

  <div class="col-sm-3">
    <ul class="list-group sortable" [sortablejs]="normalList2" [sortablejsOptions]="normalOptions">
      <li class="list-group-item" *ngFor="let item of normalList2">Element {{ item }}</li>
    </ul>
  </div>
</div>

<p class="my-3">and the actual state is</p>

<div class="row">
  <div class="col-sm-3">
    <div class="alert alert-dark">> {{ normalList1 | json }}</div>
  </div>
  <div class="col-sm-3">
    <div class="alert alert-dark">> {{ normalList2 | json }}</div>
  </div>
</div>

<h2 class="mt-4 mb-3">Clone items</h2>

<p>The list 1 is a clone factory and list 2 can be its target.</p>

<div class="row">
  <div class="col-sm-3">
    <ul class="list-group sortable" [sortablejs]="cloneList1" [sortablejsOptions]="clone1Options">
      <li class="list-group-item" *ngFor="let item of cloneList1">Element {{ item }}</li>
    </ul>
  </div>

  <div class="col-sm-3">
    <ul class="list-group sortable" [sortablejs]="cloneList2" [sortablejsOptions]="clone2Options">
      <li class="list-group-item" *ngFor="let item of cloneList2">Element {{ item }}</li>
    </ul>
  </div>
</div>

<p class="my-3">and the actual state is</p>

<div class="row">
  <div class="col-sm-3">
    <div class="alert alert-dark">> {{ cloneList1 | json }}</div>
  </div>
  <div class="col-sm-3">
    <div class="alert alert-dark">> {{ cloneList2 | json }}</div>
  </div>
</div>


<h2 class="mt-4 mb-3">Super complicated example</h2>

<p>
  These lists are connected together.
  You can drag / drop elements across the lists. Pay attention to the <em>sortable</em> CSS class
  (gives a <em>min-height</em>) that does not allow list to become invisible when all items are gone
</p>

<div class="row">
  <div class="col-sm-3">
    <strong>1. This list cannot accept items</strong>
    <ul class="mt-2 list-group sortable" [sortablejs]="list1" [sortablejsOptions]="list1Options">
      <li class="list-group-item" *ngFor="let item of list1">Element {{ item }}</li>
    </ul>
  </div>

  <div class="col-sm-3">
    <strong>2. This is a <em>normal</em> list</strong>
    <ul class="mt-2 list-group sortable" [sortablejs]="list2" [sortablejsOptions]="list2Options">
      <li class="list-group-item" *ngFor="let item of list2">Element {{ item }}</li>
    </ul>
  </div>

  <div class="col-sm-3">
    <strong>3. This list clones its children</strong>
    <ul class="mt-2 list-group sortable" [sortablejs]="list3" [sortablejsOptions]="list3Options">
      <li class="list-group-item" *ngFor="let item of list3">Element {{ item }}</li>
    </ul>
  </div>

  <div class="col-sm-3">
    <strong>4. Only #1 can put here</strong>
    <ul class="mt-2 list-group sortable" [sortablejs]="list4" [sortablejsOptions]="list4Options">
      <li class="list-group-item" *ngFor="let item of list4">Element {{ item }}</li>
    </ul>
  </div>
</div>

<p class="my-3">and the actual state is</p>

<div class="row">
  <div class="col-sm-3">
    <div class="alert alert-dark">> {{ list1 | json }}</div>
  </div>
  <div class="col-sm-3">
    <div class="alert alert-dark">> {{ list2 | json }}</div>
  </div>
  <div class="col-sm-3">
    <div class="alert alert-dark">> {{ list3 | json }}</div>
  </div>
  <div class="col-sm-3">
    <div class="alert alert-dark">> {{ list4 | json }}</div>
  </div>
</div>
