<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="https://github.com/sortablejs/ngx-sortablejs" target="_blank">
    <img width="30" height="30"
      src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
    +
    <img src="assets/sortable-logo.png" width="30" height="30">

    = ngx-sortablejs
  </a>
  <button class="navbar-toggler" type="button" (click)="navbarCollapsed = !navbarCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse" [class.collapse]="navbarCollapsed">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="sortable-array">Simple sortable</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="sortable-form-array">FormArray</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="custom-options">Custom options</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="multiple-lists">Multiple lists</a>
      </li>

      <li class="nav-item dropdown" dropdown *ngIf="showTestCases">
        <a class="nav-link dropdown-toggle" dropdownToggle>Test cases</a>
        <div *dropdownMenu class="dropdown-menu">
          <a class="dropdown-item" routerLinkActive="active" routerLink="tests/cross-components-multiple-list">
            Cross-component multiple lists
          </a>
        </div>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/sortablejs/ngx-sortablejs" target="_blank">Github</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluid my-4" style="padding-top: 58px">
  <router-outlet></router-outlet>
</div>
